Tentazione1.0/CapaGUI/Connected Services/ServiceReferenceCliente/WebServiceUsuarioCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ServiceActualizaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rol" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServiceActualizaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServiceActualizaUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceRegistraCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TbUsuario_IdUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreCompleto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Edad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Telefono" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServiceRegistraClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServiceRegistraClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceActualizaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceActualizaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServiceActualizaClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceListaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filtro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sentido" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceListaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceListaProductoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceBuscaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filtro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceBuscaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceBuscaProductoResult" type="tns:Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Producto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Sku" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreProducto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CantPaquete" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="UnidadMedida" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServiceActualizaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceActualizaUsuario" />
  </wsdl:message>
  <wsdl:message name="ServiceActualizaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceActualizaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceRegistraClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceRegistraCliente" />
  </wsdl:message>
  <wsdl:message name="ServiceRegistraClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceRegistraClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceActualizaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceActualizaCliente" />
  </wsdl:message>
  <wsdl:message name="ServiceActualizaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceActualizaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceListaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceListaProducto" />
  </wsdl:message>
  <wsdl:message name="ServiceListaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceListaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceBuscaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceBuscaProducto" />
  </wsdl:message>
  <wsdl:message name="ServiceBuscaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceBuscaProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceUsuarioClienteSoap">
    <wsdl:operation name="ServiceActualizaUsuario">
      <wsdl:input message="tns:ServiceActualizaUsuarioSoapIn" />
      <wsdl:output message="tns:ServiceActualizaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceRegistraCliente">
      <wsdl:input message="tns:ServiceRegistraClienteSoapIn" />
      <wsdl:output message="tns:ServiceRegistraClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceActualizaCliente">
      <wsdl:input message="tns:ServiceActualizaClienteSoapIn" />
      <wsdl:output message="tns:ServiceActualizaClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceListaProducto">
      <wsdl:input message="tns:ServiceListaProductoSoapIn" />
      <wsdl:output message="tns:ServiceListaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaProducto">
      <wsdl:input message="tns:ServiceBuscaProductoSoapIn" />
      <wsdl:output message="tns:ServiceBuscaProductoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceUsuarioClienteSoap" type="tns:WebServiceUsuarioClienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceActualizaUsuario">
      <soap:operation soapAction="http://tempuri.org/ServiceActualizaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceRegistraCliente">
      <soap:operation soapAction="http://tempuri.org/ServiceRegistraCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceActualizaCliente">
      <soap:operation soapAction="http://tempuri.org/ServiceActualizaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceListaProducto">
      <soap:operation soapAction="http://tempuri.org/ServiceListaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaProducto">
      <soap:operation soapAction="http://tempuri.org/ServiceBuscaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUsuarioClienteSoap12" type="tns:WebServiceUsuarioClienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceActualizaUsuario">
      <soap12:operation soapAction="http://tempuri.org/ServiceActualizaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceRegistraCliente">
      <soap12:operation soapAction="http://tempuri.org/ServiceRegistraCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceActualizaCliente">
      <soap12:operation soapAction="http://tempuri.org/ServiceActualizaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceListaProducto">
      <soap12:operation soapAction="http://tempuri.org/ServiceListaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaProducto">
      <soap12:operation soapAction="http://tempuri.org/ServiceBuscaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceUsuarioCliente">
    <wsdl:port name="WebServiceUsuarioClienteSoap" binding="tns:WebServiceUsuarioClienteSoap">
      <soap:address location="https://localhost:44362/WebServiceUsuarioCliente.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUsuarioClienteSoap12" binding="tns:WebServiceUsuarioClienteSoap12">
      <soap12:address location="https://localhost:44362/WebServiceUsuarioCliente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>