Tentazione1.0/CapaGUI/Connected Services/ServiceLogin/WebServiceLogin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SValidaLogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SValidaLogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SValidaLogInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SBuscaSesion">
        <s:complexType />
      </s:element>
      <s:element name="SBuscaSesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SBuscaSesionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SValidaLogInSoapIn">
    <wsdl:part name="parameters" element="tns:SValidaLogIn" />
  </wsdl:message>
  <wsdl:message name="SValidaLogInSoapOut">
    <wsdl:part name="parameters" element="tns:SValidaLogInResponse" />
  </wsdl:message>
  <wsdl:message name="SBuscaSesionSoapIn">
    <wsdl:part name="parameters" element="tns:SBuscaSesion" />
  </wsdl:message>
  <wsdl:message name="SBuscaSesionSoapOut">
    <wsdl:part name="parameters" element="tns:SBuscaSesionResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceLoginSoap">
    <wsdl:operation name="SValidaLogIn">
      <wsdl:input message="tns:SValidaLogInSoapIn" />
      <wsdl:output message="tns:SValidaLogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SBuscaSesion">
      <wsdl:input message="tns:SBuscaSesionSoapIn" />
      <wsdl:output message="tns:SBuscaSesionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceLoginSoap" type="tns:WebServiceLoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SValidaLogIn">
      <soap:operation soapAction="http://tempuri.org/SValidaLogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SBuscaSesion">
      <soap:operation soapAction="http://tempuri.org/SBuscaSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceLoginSoap12" type="tns:WebServiceLoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SValidaLogIn">
      <soap12:operation soapAction="http://tempuri.org/SValidaLogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SBuscaSesion">
      <soap12:operation soapAction="http://tempuri.org/SBuscaSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceLogin">
    <wsdl:port name="WebServiceLoginSoap" binding="tns:WebServiceLoginSoap">
      <soap:address location="https://localhost:44362/WebServiceLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceLoginSoap12" binding="tns:WebServiceLoginSoap12">
      <soap12:address location="https://localhost:44362/WebServiceLogin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>