Tentazione1.0/CapaGUIWeb/Connected Services/ServiceReferenceProducto/WebServiceProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ServiceRegistrarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="producto" type="tns:Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Producto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Sku" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreProducto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CantPaquete" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="UnidadMedida" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServiceRegistrarProductoResponse">
        <s:complexType />
      </s:element>
      <s:element name="ServiceListaProducto">
        <s:complexType />
      </s:element>
      <s:element name="ServiceListaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceListaProductoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceBuscaProductoSku">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sku" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceBuscaProductoSkuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceBuscaProductoSkuResult" type="tns:Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceBuscaProductoNombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceBuscaProductoNombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceBuscaProductoNombreResult" type="tns:Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceActualizaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="producto" type="tns:Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceActualizaProductoResponse">
        <s:complexType />
      </s:element>
      <s:element name="ServiceElmininaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sku" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceElmininaProductoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServiceRegistrarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceRegistrarProducto" />
  </wsdl:message>
  <wsdl:message name="ServiceRegistrarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceRegistrarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceListaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceListaProducto" />
  </wsdl:message>
  <wsdl:message name="ServiceListaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceListaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceBuscaProductoSkuSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceBuscaProductoSku" />
  </wsdl:message>
  <wsdl:message name="ServiceBuscaProductoSkuSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceBuscaProductoSkuResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceBuscaProductoNombreSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceBuscaProductoNombre" />
  </wsdl:message>
  <wsdl:message name="ServiceBuscaProductoNombreSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceBuscaProductoNombreResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceActualizaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceActualizaProducto" />
  </wsdl:message>
  <wsdl:message name="ServiceActualizaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceActualizaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceElmininaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceElmininaProducto" />
  </wsdl:message>
  <wsdl:message name="ServiceElmininaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceElmininaProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceProductoSoap">
    <wsdl:operation name="ServiceRegistrarProducto">
      <wsdl:input message="tns:ServiceRegistrarProductoSoapIn" />
      <wsdl:output message="tns:ServiceRegistrarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceListaProducto">
      <wsdl:input message="tns:ServiceListaProductoSoapIn" />
      <wsdl:output message="tns:ServiceListaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaProductoSku">
      <wsdl:input message="tns:ServiceBuscaProductoSkuSoapIn" />
      <wsdl:output message="tns:ServiceBuscaProductoSkuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaProductoNombre">
      <wsdl:input message="tns:ServiceBuscaProductoNombreSoapIn" />
      <wsdl:output message="tns:ServiceBuscaProductoNombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceActualizaProducto">
      <wsdl:input message="tns:ServiceActualizaProductoSoapIn" />
      <wsdl:output message="tns:ServiceActualizaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceElmininaProducto">
      <wsdl:input message="tns:ServiceElmininaProductoSoapIn" />
      <wsdl:output message="tns:ServiceElmininaProductoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceProductoSoap" type="tns:WebServiceProductoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceRegistrarProducto">
      <soap:operation soapAction="http://tempuri.org/ServiceRegistrarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceListaProducto">
      <soap:operation soapAction="http://tempuri.org/ServiceListaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaProductoSku">
      <soap:operation soapAction="http://tempuri.org/ServiceBuscaProductoSku" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaProductoNombre">
      <soap:operation soapAction="http://tempuri.org/ServiceBuscaProductoNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceActualizaProducto">
      <soap:operation soapAction="http://tempuri.org/ServiceActualizaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceElmininaProducto">
      <soap:operation soapAction="http://tempuri.org/ServiceElmininaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceProductoSoap12" type="tns:WebServiceProductoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceRegistrarProducto">
      <soap12:operation soapAction="http://tempuri.org/ServiceRegistrarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceListaProducto">
      <soap12:operation soapAction="http://tempuri.org/ServiceListaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaProductoSku">
      <soap12:operation soapAction="http://tempuri.org/ServiceBuscaProductoSku" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaProductoNombre">
      <soap12:operation soapAction="http://tempuri.org/ServiceBuscaProductoNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceActualizaProducto">
      <soap12:operation soapAction="http://tempuri.org/ServiceActualizaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceElmininaProducto">
      <soap12:operation soapAction="http://tempuri.org/ServiceElmininaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceProducto">
    <wsdl:port name="WebServiceProductoSoap" binding="tns:WebServiceProductoSoap">
      <soap:address location="https://localhost:44362/WebServiceProducto.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceProductoSoap12" binding="tns:WebServiceProductoSoap12">
      <soap12:address location="https://localhost:44362/WebServiceProducto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>