Tentazione1.0/CapaGUI/Connected Services/ServiceProducto/WebServiceProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SRegistrarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="producto" type="tns:Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Producto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Sku" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreProducto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CantPaquete" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="UnidadMedida" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SRegistrarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SRegistrarProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SListaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filtro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sentido" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SListaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SListaProductoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SBuscaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filtro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SBuscaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SBuscaProductoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SActualizaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="producto" type="tns:Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SActualizaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SActualizaProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SEliminaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sku" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SEliminaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SEliminaProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SRegistrarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:SRegistrarProducto" />
  </wsdl:message>
  <wsdl:message name="SRegistrarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:SRegistrarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="SListaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:SListaProducto" />
  </wsdl:message>
  <wsdl:message name="SListaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:SListaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="SBuscaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:SBuscaProducto" />
  </wsdl:message>
  <wsdl:message name="SBuscaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:SBuscaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="SActualizaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:SActualizaProducto" />
  </wsdl:message>
  <wsdl:message name="SActualizaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:SActualizaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="SEliminaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:SEliminaProducto" />
  </wsdl:message>
  <wsdl:message name="SEliminaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:SEliminaProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceProductoSoap">
    <wsdl:operation name="SRegistrarProducto">
      <wsdl:input message="tns:SRegistrarProductoSoapIn" />
      <wsdl:output message="tns:SRegistrarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SListaProducto">
      <wsdl:input message="tns:SListaProductoSoapIn" />
      <wsdl:output message="tns:SListaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SBuscaProducto">
      <wsdl:input message="tns:SBuscaProductoSoapIn" />
      <wsdl:output message="tns:SBuscaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SActualizaProducto">
      <wsdl:input message="tns:SActualizaProductoSoapIn" />
      <wsdl:output message="tns:SActualizaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SEliminaProducto">
      <wsdl:input message="tns:SEliminaProductoSoapIn" />
      <wsdl:output message="tns:SEliminaProductoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceProductoSoap" type="tns:WebServiceProductoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SRegistrarProducto">
      <soap:operation soapAction="http://tempuri.org/SRegistrarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SListaProducto">
      <soap:operation soapAction="http://tempuri.org/SListaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SBuscaProducto">
      <soap:operation soapAction="http://tempuri.org/SBuscaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SActualizaProducto">
      <soap:operation soapAction="http://tempuri.org/SActualizaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SEliminaProducto">
      <soap:operation soapAction="http://tempuri.org/SEliminaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceProductoSoap12" type="tns:WebServiceProductoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SRegistrarProducto">
      <soap12:operation soapAction="http://tempuri.org/SRegistrarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SListaProducto">
      <soap12:operation soapAction="http://tempuri.org/SListaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SBuscaProducto">
      <soap12:operation soapAction="http://tempuri.org/SBuscaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SActualizaProducto">
      <soap12:operation soapAction="http://tempuri.org/SActualizaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SEliminaProducto">
      <soap12:operation soapAction="http://tempuri.org/SEliminaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceProducto">
    <wsdl:port name="WebServiceProductoSoap" binding="tns:WebServiceProductoSoap">
      <soap:address location="https://localhost:44362/WebServiceProducto.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceProductoSoap12" binding="tns:WebServiceProductoSoap12">
      <soap12:address location="https://localhost:44362/WebServiceProducto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>