Tentazione1.0/CapaGUI/Connected Services/ServiceReferenceWeb/WebServiceUsuarioWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ServiceValidaLogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceValidaLogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceValidaLogInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceListaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filtro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sentido" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceListaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceListaProductoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceBuscaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filtro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceBuscaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceBuscaProductoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceRegistrarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceRegistrarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServiceRegistrarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceSesion">
        <s:complexType />
      </s:element>
      <s:element name="ServiceSesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceSesionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServiceValidaLogInSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceValidaLogIn" />
  </wsdl:message>
  <wsdl:message name="ServiceValidaLogInSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceValidaLogInResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceListaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceListaProducto" />
  </wsdl:message>
  <wsdl:message name="ServiceListaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceListaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceBuscaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceBuscaProducto" />
  </wsdl:message>
  <wsdl:message name="ServiceBuscaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceBuscaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceRegistrarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceRegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="ServiceRegistrarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceRegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceSesionSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceSesion" />
  </wsdl:message>
  <wsdl:message name="ServiceSesionSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceSesionResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceUsuarioWebSoap">
    <wsdl:operation name="ServiceValidaLogIn">
      <wsdl:input message="tns:ServiceValidaLogInSoapIn" />
      <wsdl:output message="tns:ServiceValidaLogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceListaProducto">
      <wsdl:input message="tns:ServiceListaProductoSoapIn" />
      <wsdl:output message="tns:ServiceListaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaProducto">
      <wsdl:input message="tns:ServiceBuscaProductoSoapIn" />
      <wsdl:output message="tns:ServiceBuscaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceRegistrarUsuario">
      <wsdl:input message="tns:ServiceRegistrarUsuarioSoapIn" />
      <wsdl:output message="tns:ServiceRegistrarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceSesion">
      <wsdl:input message="tns:ServiceSesionSoapIn" />
      <wsdl:output message="tns:ServiceSesionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceUsuarioWebSoap" type="tns:WebServiceUsuarioWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceValidaLogIn">
      <soap:operation soapAction="http://tempuri.org/ServiceValidaLogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceListaProducto">
      <soap:operation soapAction="http://tempuri.org/ServiceListaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaProducto">
      <soap:operation soapAction="http://tempuri.org/ServiceBuscaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceRegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/ServiceRegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceSesion">
      <soap:operation soapAction="http://tempuri.org/ServiceSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUsuarioWebSoap12" type="tns:WebServiceUsuarioWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceValidaLogIn">
      <soap12:operation soapAction="http://tempuri.org/ServiceValidaLogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceListaProducto">
      <soap12:operation soapAction="http://tempuri.org/ServiceListaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaProducto">
      <soap12:operation soapAction="http://tempuri.org/ServiceBuscaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceRegistrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/ServiceRegistrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceSesion">
      <soap12:operation soapAction="http://tempuri.org/ServiceSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceUsuarioWeb">
    <wsdl:port name="WebServiceUsuarioWebSoap" binding="tns:WebServiceUsuarioWebSoap">
      <soap:address location="https://localhost:44362/WebServiceUsuarioWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUsuarioWebSoap12" binding="tns:WebServiceUsuarioWebSoap12">
      <soap12:address location="https://localhost:44362/WebServiceUsuarioWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>