Tentazione1.0/CapaGUI/Connected Services/ServiceReferenceEmpleado/WebServiceUsuarioEmpleado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ServiceRegistrarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="producto" type="tns:Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Producto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Sku" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreProducto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CantPaquete" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="UnidadMedida" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServiceRegistrarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServiceRegistrarProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceActualizaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="producto" type="tns:Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceActualizaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServiceActualizaProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceListaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filtro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sentido" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceListaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceListaProductoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceBuscaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filtro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceBuscaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceBuscaProductoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceEliminaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sku" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceEliminaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServiceEliminaProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceListaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filtro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sentido" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceListaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceListaClienteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceBuscaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filtro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceBuscaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceBuscaClienteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceActualizaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TbUsuario_IdUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreCompleto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Edad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Telefono" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServiceActualizaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServiceActualizaClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceEliminaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceEliminaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServiceEliminaClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rol" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizaUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServiceRegistrarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceRegistrarProducto" />
  </wsdl:message>
  <wsdl:message name="ServiceRegistrarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceRegistrarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceActualizaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceActualizaProducto" />
  </wsdl:message>
  <wsdl:message name="ServiceActualizaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceActualizaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceListaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceListaProducto" />
  </wsdl:message>
  <wsdl:message name="ServiceListaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceListaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceBuscaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceBuscaProducto" />
  </wsdl:message>
  <wsdl:message name="ServiceBuscaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceBuscaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceEliminaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceEliminaProducto" />
  </wsdl:message>
  <wsdl:message name="ServiceEliminaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceEliminaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceListaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceListaCliente" />
  </wsdl:message>
  <wsdl:message name="ServiceListaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceListaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceBuscaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceBuscaCliente" />
  </wsdl:message>
  <wsdl:message name="ServiceBuscaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceBuscaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceActualizaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceActualizaCliente" />
  </wsdl:message>
  <wsdl:message name="ServiceActualizaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceActualizaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceEliminaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceEliminaCliente" />
  </wsdl:message>
  <wsdl:message name="ServiceEliminaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceEliminaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizaUsuario" />
  </wsdl:message>
  <wsdl:message name="ActualizaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizaUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceUsuarioEmpleadoSoap">
    <wsdl:operation name="ServiceRegistrarProducto">
      <wsdl:input message="tns:ServiceRegistrarProductoSoapIn" />
      <wsdl:output message="tns:ServiceRegistrarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceActualizaProducto">
      <wsdl:input message="tns:ServiceActualizaProductoSoapIn" />
      <wsdl:output message="tns:ServiceActualizaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceListaProducto">
      <wsdl:input message="tns:ServiceListaProductoSoapIn" />
      <wsdl:output message="tns:ServiceListaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaProducto">
      <wsdl:input message="tns:ServiceBuscaProductoSoapIn" />
      <wsdl:output message="tns:ServiceBuscaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceEliminaProducto">
      <wsdl:input message="tns:ServiceEliminaProductoSoapIn" />
      <wsdl:output message="tns:ServiceEliminaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceListaCliente">
      <wsdl:input message="tns:ServiceListaClienteSoapIn" />
      <wsdl:output message="tns:ServiceListaClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaCliente">
      <wsdl:input message="tns:ServiceBuscaClienteSoapIn" />
      <wsdl:output message="tns:ServiceBuscaClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceActualizaCliente">
      <wsdl:input message="tns:ServiceActualizaClienteSoapIn" />
      <wsdl:output message="tns:ServiceActualizaClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceEliminaCliente">
      <wsdl:input message="tns:ServiceEliminaClienteSoapIn" />
      <wsdl:output message="tns:ServiceEliminaClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaUsuario">
      <wsdl:input message="tns:ActualizaUsuarioSoapIn" />
      <wsdl:output message="tns:ActualizaUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceUsuarioEmpleadoSoap" type="tns:WebServiceUsuarioEmpleadoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceRegistrarProducto">
      <soap:operation soapAction="http://tempuri.org/ServiceRegistrarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceActualizaProducto">
      <soap:operation soapAction="http://tempuri.org/ServiceActualizaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceListaProducto">
      <soap:operation soapAction="http://tempuri.org/ServiceListaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaProducto">
      <soap:operation soapAction="http://tempuri.org/ServiceBuscaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceEliminaProducto">
      <soap:operation soapAction="http://tempuri.org/ServiceEliminaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceListaCliente">
      <soap:operation soapAction="http://tempuri.org/ServiceListaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaCliente">
      <soap:operation soapAction="http://tempuri.org/ServiceBuscaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceActualizaCliente">
      <soap:operation soapAction="http://tempuri.org/ServiceActualizaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceEliminaCliente">
      <soap:operation soapAction="http://tempuri.org/ServiceEliminaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaUsuario">
      <soap:operation soapAction="http://tempuri.org/ActualizaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUsuarioEmpleadoSoap12" type="tns:WebServiceUsuarioEmpleadoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceRegistrarProducto">
      <soap12:operation soapAction="http://tempuri.org/ServiceRegistrarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceActualizaProducto">
      <soap12:operation soapAction="http://tempuri.org/ServiceActualizaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceListaProducto">
      <soap12:operation soapAction="http://tempuri.org/ServiceListaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaProducto">
      <soap12:operation soapAction="http://tempuri.org/ServiceBuscaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceEliminaProducto">
      <soap12:operation soapAction="http://tempuri.org/ServiceEliminaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceListaCliente">
      <soap12:operation soapAction="http://tempuri.org/ServiceListaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceBuscaCliente">
      <soap12:operation soapAction="http://tempuri.org/ServiceBuscaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceActualizaCliente">
      <soap12:operation soapAction="http://tempuri.org/ServiceActualizaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceEliminaCliente">
      <soap12:operation soapAction="http://tempuri.org/ServiceEliminaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaUsuario">
      <soap12:operation soapAction="http://tempuri.org/ActualizaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceUsuarioEmpleado">
    <wsdl:port name="WebServiceUsuarioEmpleadoSoap" binding="tns:WebServiceUsuarioEmpleadoSoap">
      <soap:address location="https://localhost:44362/WebServiceUsuarioEmpleado.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUsuarioEmpleadoSoap12" binding="tns:WebServiceUsuarioEmpleadoSoap12">
      <soap12:address location="https://localhost:44362/WebServiceUsuarioEmpleado.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>